<!DOCTYPE html>
<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/releases.css">
</head>
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Новые релизы</title>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    <meta name="theme-color" content="#ff5126">
    <meta property="og:title" content="Новые релизы">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="/" data-include-products="false" class="u-body u-xl-mode" data-lang="ru"> 
    <section class="u-clearfix u-expanded-width u-image u-shading u-section-1" id="sec-d074" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                  <h1 class="u-custom-font u-font-oswald u-text u-title u-text-1">МС Folomkin</h1>
                  <p class="u-custom-font u-font-courier-new u-text u-text-2"> Легенда андеграундного хип-хопа наконец совершила своё триумфальное возвращение, сделав "каминг аут" в качестве айтишника.  Из новых треков фанаты узнают насколько сложен был этот путь, а первоклассные тексты, мощный речитатив и качественные биты не дадут забыть об услышанном.</p>
                  <p class="u-custom-font u-font-courier-new u-text u-text-2"> Задонатить МС Фоломкину на углубление вхождения в айти можно по <a href="/donate">ссылке</a></p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-opacity u-opacity-10 u-palette-3-light-3 u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <p class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-3">
                    <iframe style="border: 0; width: 340px; height: 776px;" src="https://bandcamp.com/EmbeddedPlayer/album=1204056261/size=large/bgcol=ffffff/linkcol=f171a2/transparent=true/" seamless=""><a href="https://folomkin.bandcamp.com/album/40">40 лет в айти by MC Folomkin</a></iframe>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body></html>